*{
    font-family: 'Hi Melody', sans-serif;
}

.messagebox {
    margin : 0px auto 10px auto;
    border: solid 1px black;
    border-radius: 20px;
    width : 800px;
    height : 140px;
    justify-content: space-between;
}
.userReview {
    width : 720px;
    height : 70px;
    text-align: top;
    border-radius: 5px;
}
#userName {
    margin : 0px 10px 0px 350px;
    width : 100px;
    height : 20px;
}
#password {
    width : 180px;
    height : 20px;
}
#cppassword{
    width : 180px;
    height : 20px;
}
.reviewed {
    width : 800px;
    height : 130px;
    margin: 0px auto 10px auto;
    border : solid 1px black;
    border-radius: 20px;
}
.userId {
    font-size: 14px;
    margin : 10px 20px 0px 100px;
    padding : 0px 20px 0px 0px;
    list-style-type: none;
    text-align: right;
}

/* 상세페이지 버튼 css */
body {
    position: relative;
}

.button-container button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    /*  상단 여백 값 */
    right: 10px;
    /* 우측 여백 값 */
}

.button-container button:hover {
    background-color: lightcoral;
}
