body {
    background-color: black;
  }
  div {
    text-align: center;
    padding: 140px;
  }
  * {
    font-family: "Hi Melody", sans-serif;
    font-weight: bold;
    color: white;
  }
  .messagebox * {
    color: black;
  }
  .messagebox {
    background-color: white;
    margin: 200px auto 10px auto;
    border-radius: 20px;
    width: 800px;
    height: 140px;
    justify-content: space-between;
    border: 5px red solid;
  }
  .userReview {
    width: 720px;
    height: 70px;
    text-align: top;
    border-radius: 5px;
  }
  #userName {
    margin: 0px 10px 0px 350px;
    width: 100px;
    height: 20px;
  }
  #password {
    width: 180px;
    height: 20px;
  }
  .reviewed {
    width: 800px;
    height: 130px;
    margin: 0px auto 10px auto;
    border: solid 1px black;
    border-radius: 20px;
  }
  .userId {
    font-size: 14px;
    margin: 10px 0px 0px 520px;
    list-style-type: none;
  }
  /* 상세페이지 버튼 css */
  body {
    position: relative;
  }
  .button-container button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    /*  상단 여백 값 */
    right: 10px;
    /* 우측 여백 값 */
  }
  /* 뒤로가기버튼 IMG 색상변경 */
  .button-container button img {
    filter: invert(1);
  }
  #detailContainer {
    width: 80%;
    height: auto;
    border: 5px red solid;
    font-size: 35px;
    padding: auto 50px auto 50px;
