header{
    font-size: 120px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
}

#movieSearchCards{
    font-family: 'Hi Melody', sans-serif;
}

#movieSearchCards > h1{
    border-style: dotted;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
.reset{
    justify-content: center;
}

.reset button{
    border-style: none;
    font-size: 25px;
    text-align: center;
    background-color: transparent;
    
    font-family: 'Hi Melody', sans-serif;
}

.reset button:hover{
    background-color: lightcoral;
    color: white;
    font-size: 35px;
}

#search form fieldset{
    border-color: white;
    border-style:double;
    background-color: black;
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inner .wrapper {
    align-items: center;
    padding: 15px 30px 15px 30px;
}

.inner .wrapper .col {
    border: 3px dashed black;
    border-radius: 10%;
    padding: 20px 60px 15px 60px;
    margin: 20px;
    display: inline-flex;
    width: 30%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    align-content:space-around;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.col > a{
text-decoration-line: none;
color:inherit;
}

footer{
    transform: translateY(0%);
    position: relative;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    background-color: black;
}