header{
    font-size: 120px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
}

#movieSearchCards{
    font-family: 'Hi Melody', sans-serif;
}

#movieSearchCards > h1{
    border-style: dotted;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

#movieSearchCards > h1:hover{
    margin-left: 20%;
    margin-right: 20%;
}

#search form fieldset{
    border-color: white;
    border-style:double;
    background-color: black;
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.col{
    display: inline-flex;
}

.col > a{
text-decoration-line: none;
}

footer{
    font-size: 25px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Hi Melody', sans-serif;
}